IPv6 (@PPP?): Neighbor Discovery broken

**SoftEther version:** Current Master (as of 2020-12-09)
**Component:** Server
**Operating system:** Linux (Debian Buster in a XEN virtual machine)
**Architecture:** 64 bit

### Description

I'm running a SE-VPN server in a dual stack (IPv4+IPv6) network, the hub uses a Local Bridge with a TAP interface to connect to the LAN. Clients connecting via L2TP/IPsec or SSTP get both an IPv4 and an IPv6 address. While IPv4 is working great and routed IPv6 connections (to the "internet") are fine too, the VPN clients cannot talk to other machines in their LAN over IPv6. This is obviously a problem, if most of your services (including the nameserver) have an IPv6 address configured and supplied by DNS.

After some debugging, I think I found 2 issues in the IPv6 Neighbor Discovery (IPv6s equivalent to IPv4s ARP) implementation, causing this for me:

1. Neighbor Solicitations are sent for the targets solicited-node multicast address (not just TO which would be correct, but also FOR). RFC4861 section 4.3 states, that "It MUST NOT be a multicast address." and I observed no targets actually answering to it. This happens in Cedar/IPC.c:2583
2. Two conditions again in Cedar/IPC.c at lines 2062-2063 and 2068 compare an IPv6 address type numerically with constants which are defined as bitmasks. And since for both IPV6_ADDR_LOCAL_UNICAST and IPV6_ADDR_GLOBAL_UNICAST the more generic bit IPV6_ADDR_UNICAST is always set as well, this effectively prevents any Neighbor Advertisement from entering the Neighbor Discovery Table and the already cached packets to be sent to their targets.

To solve this, I corrected both if-conditions, moved the assembly of the solicited-node multicast address to Mayaqua/TcpIp.c:BuildICMPv6NeighborSoliciation() and added a switch there, to allow selection of either this multicast target address (for MAC resolution of unkown hosts) or the unicast target address (for verification of already known hosts).
The latter seems to be used by Cedar/Hub.c:HubWatchDogThread() in building the IP table, but even after enabling the needed ExtOptions (at least I think I had) I didn't see any of those unicast packages leaving the interface. Maybe I applied the wrong filters to tcpdump, I'm not sure. ~~But I think there are still issues here, e.g. this condition at Cedar/Hub.c:1575:
`if ((e->UpdatedTime + (UINT64)(IP_TABLE_EXPIRE_TIME)) > Tick64())`
Shouldn't the comparison operator be the other way around, to check for expired entries? Currently I would expect that the whole address table is updated in every watchdog cycle.~~ Anyway, I just don't understand this table enough to dig deeper here and my changes shouldn't affect any of it's behaviour.

I attached the patch I'm currently using and which solves my IPv6 related problems described earlier. I'm sorry for the inconvenient way of providing this, but I have no experience with git and hope that a developer with access to a dual stack network can have a look at this and integrate the useful parts of the patch in a clean way into this repository.

Edit: Marked wrong assumptions, as clarified later by @domosekai

[PPP_IPv6_NeighborDiscovery.diff.txt](https://github.com/SoftEtherVPN/SoftEtherVPN/files/5667742/PPP_IPv6_NeighborDiscovery.diff.txt)


The two issues are legitimate and the fix also works. Thank you.
The polling unicast you did not observe with tcpdump is probably because you did it from the server side. It's a unicast from the virtual hub to the client, hence not observable from the local bridge on the server. I did see them from the client side.

But you can't just change the sign because currently any entries older than `IP_TABLE_EXPIRE_TIME` will be purged from the table.
You will need to do the polling earlier, such as when 1/2 of `IP_TABLE_EXPIRE_TIME` has past.

This issue might not be a bug though. I mean it's (perhaps) intentional.
The hub watch dog currently runs at `HUB_ARP_SEND_INTERVAL`, which is 5 seconds by default. 
By looking at the naming, I guess Nobori intentionally refresh all entries every 5 seconds. But I definitely think it's too often.

Ah, good find, so it really is intended to work like this. Didn't check the watchdog interval, so I thought this would produce a lot of traffic.

I think your patch is good to go. And it's important. 
Just fork the repo, commit and push your changes. GitHub will prompt you to create a PR. No worries for being new to git. It's much easier than making the patch! 😁

Haha, OK, I have doubts but still tried :grin: