Exclude local sub-net (local IP ranges)

In my company's VPN app we have a disable-able feature which excludes below **List** of non-web-site IP-address ranges from being routed into the VPN server.

This allows local-net Apps to continue working even if the VPN is active, and in addition, some **Anti-VPN**s check these addresses (to see if VPN is active or not).

My qustion is, is there any IP-range we should add and/or remove from the list?

In addition, mentioning related RFC would be helpful, but not required.

**WARNING:** adding too much to List means leaking Web-site packets, and removing too much means local-net Apps may not work.

## List:
Legend:
* For example, the `{172,16,0,0 , 12},` entry means `172.16.0.0/12`.
* Where, first 4 fields of `MyType` specify the IP address's base.
* The 5th field specifies the "mask".

Entries:
```cpp
MyType localSubnets[] = {
    // Address ranges below are reserved by IANA for private intranets,
    // and not routable to the Internet
    // (For additional information, see RFC 1918).
    {10,0,0,0 , 8}, {10,170,60,224 , 27},
    {172,16,0,0 , 12},
    {192,168,0,0 , 16},
    // Reserved and special use addresses:
    {0,0,0,0 , 8}, // Current network (only valid as source address) RFC 1700
    {127,0,0,0 , 8}, // Loopback IP addresses (refers to self) RFC 5735
    {192,0,0,0 , 24}, // Reserved (IANA) RFC 5735
    {192,88,99,0 , 24}, // IPv6 to IPv4 relay. RFC 3068

    {198,18,0,0 , 15}, // Network benchmark tests. RFC 2544
    {198,51,100,0 , 24}, // TEST-NET-2. RFC 5737
    {203,0,113,0 , 24}, // TEST-NET-3. RFC 5737
    {224,0,0,0 , 4}, // Reserved for multicast addresses. RFC 3171
    // Reserved (former Class E network) RFC 1700
    {255,255,255,255 , 32} // Broadcast address (limited to all other nodes on the LAN) RFC 919
};
```
